.layout {
  display: flex; 
  min-height: 100vh;
  flex-direction: column;
}
.layout-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}
.layout-content {
  flex: 1;
  overflow-y: auto;
  padding: 1rem;
  padding-top: 5rem
}
.example-spacer {
  flex: 1 1 auto;
}
.clickable-link {
  color: #007bff;
  text-decoration: underline;
}
.clickable-link:hover {
  text-decoration: underline dotted;
}
.user-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}