<div>
  <mat-toolbar color="primary">
    <button routerLink="dashboard" mat-icon-button class="example-icon"
      aria-label="Example icon-button with home icon">
      <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
    </button>
    <span class="example-spacer"></span>

    <span>Electronics World</span>
    <span class="example-spacer"></span>

    <button routerLink="logout" matTooltip="Logout from the application" mat-raised-button color="basic" aria-label="Example icon-button with share icon">
      Logout
    </button>
  </mat-toolbar>
</div>

<router-outlet></router-outlet>