<div class="logo-container"> <img src="assets/logo-transparent.png" alt="Electronics World Logo"> </div>
<mat-grid-list cols="1" rowHeight="100vh" style="margin-top: -100px;" >
  <mat-grid-tile>
    <form [formGroup]="loginForm" novalidate (ngSubmit)="onSubmit()">
      <mat-card class="shipping-card">
        <mat-card-header>
          <mat-card-title>Login</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="row">
            <div class="col">
              <mat-form-field class="full-width">
                <input matInput placeholder="Email*" formControlName="email">
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <mat-form-field class="full-width">
                <input matInput type="{{ showPassword ? 'text' : 'password' }}" placeholder="Password*"
                  formControlName="password">
                <mat-icon matSuffix (click)="toggleShowPassword()" color="primary" style="cursor: pointer;">
                  {{ showPassword ? 'visibility_off' : 'visibility' }}
                </mat-icon>
              </mat-form-field>
            </div>
          </div>
          <mat-card-actions>
            <div class="button-container">
              <button mat-raised-button color="primary" type="submit">Login</button>
              <button mat-raised-button color="warn" type="reset">Reset</button>
            </div>
          </mat-card-actions>
          <div class="signup-link-container">
            <span>Don't have an account yet?</span><a routerLink="/register">Sign Up</a>
          </div>

        </mat-card-content>
      </mat-card>
    </form>
  </mat-grid-tile>
</mat-grid-list>