/* login.component.css */
.logo-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px; /* Optional padding */
  height: 100px;
}

.logo-container img {
  width: 250px; /* Adjust width as needed */
  height: auto; /* Maintain aspect ratio */
}

mat-grid-list {
  display: grid;
  grid-template-rows: auto 1fr; /* Allocate space for logo and form */
  height: 100vh; /* Ensure login form fills viewport height */
  padding: 10px;
}
mat-form-field {
  margin-right: 12px;
}

.full-width {
  width: 100%;
}

.shipping-card {
  min-width: 120px;
  margin: 20px auto;
}

.mat-radio-button {
  display: block;
  margin: 5px 0;
}

.row {
  display: flex;
  flex-direction: row;
  margin: 5px;
}

.col {
  flex: 1;
  margin-right: 20px;
}

.col:last-child {
  margin-right: 0;
}

.button-container {
  display: flex;
  justify-content: space-between; /* Space buttons evenly */
  flex: 1 1 auto;
}

.signup-link-container {
  margin-top: 10px; /* Add some margin for spacing */
  text-align: center; /* Center the link text */
  display: flex;
  justify-content: space-between; /* Space buttons evenly */
  flex: 1 1 auto;
}

.signup-link-container a {
  color: blue; /* Adjust color as desired */
  cursor: pointer;
  text-decoration: underline;
}