<div>
    <mat-toolbar color="basic">
        <button routerLink= "/"  mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
            <mat-icon>menu</mat-icon>
        </button>
        <span class="example-spacer"></span>

        <span>Electronics World</span>
        <span class="example-spacer"></span>

        <button routerLink= "checkout" mat-raised-button color="basic"  aria-label="Example icon-button with share icon">
           Checkout
        </button>
        <span class="example-spacer"></span>
        <button routerLink= "payment-complete" mat-raised-button color="basic"  aria-label="Example icon-button with share icon">
            Payment Success
        </button>
        <span class="example-spacer"></span>

        <button routerLink= "payment-cancel" mat-raised-button color="warn" aria-label="Example icon-button with share icon">
            Payment Cancel
        </button>
        <span class="example-spacer"></span>

        <button routerLink= "logout" mat-raised-button color="basic" aria-label="Example icon-button with share icon">
            Logout
        </button>
    </mat-toolbar>
</div>
<div>
    <router-outlet />
</div>